<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mekoski Wine Tasting Event</title>
</head>
<body>
    <img src="images/winetasting.png"></img>
</body>
</html>